{% set title = entry.title %}
{% set description = entry.metaDescription %}
{% extends "_layout" %}

{% block content %}

<section class="top-block top-block--no-bg top-block--short-width">
    <div class="top-block__inner">
        <figure class="portfolio-entry__main-image">
            {% set image = entry.images.first() %}
            {% if image %}
            <img src=" {{ image.url }}">
            {% endif %}
        </figure>
        <h1 class="top-block__headline">{{ entry.title }}</h1>
        <p class="top-block__byline">{{ entry.summary }}</p>

    </div>
</section>

<section class="portfolio-entry">

    {% for image in entry.images.offset(1) %}

    <figure class="portfolio-entry__gallery-image">
        <img src="{{ image.url }}">
    </figure>

    {% endfor %}




</section>

{% endblock %}