{% set title = 'Featured Work: ' ~ entry.title ~ ' | Tom McCarthy' %}
{% set description = entry.metaDescription %}
{% extends "_layout" %}

{% block content %}

<section class="top-block top-block--no-bg top-block--short-width">
    <div class="top-block__inner">
        <div class="portfolio-entry__main-text">
            <h1 class="portfolio-entry__heading">{{ entry.title }}</h1>
            <div class="portfolio-entry__description">{{ entry.body }}</div>
        </div>
        <figure class="portfolio-entry__main-image" style="
                background-color:{{ entry.gradientColourA }};
                background-image: linear-gradient(320deg, {{ entry.gradientColourA }}, {{ entry.gradientColourB }});">
            {% set image = entry.mainImage.first() %}
            {% if image %}
            <img src=" {{ image.url }}">
            {% endif %}
        </figure>

    </div>
</section>

<section class="portfolio-entry">

    {% for image in entry.imageMatrix %}

        <figure class="portfolio-entry__gallery-image{{ image.imageSize == 'big' ? ' portfolio-entry__gallery-image--big' : '' }}">
            <img src="{{ image.imageFile.first().url }}">
        </figure>

    {% endfor %}



</section>

{% endblock %}