{% set title = 'Portfolio | Thomas McCarthy' %}
{% set description = 'My portfolio of design & development work.' %}
{% extends "_layout" %}

{% block content %}

<section class="top-block top-block--no-bg">
    <div class="top-block__inner">
        <h1 class="top-block__headline">Portfolio Of Work</h1>
        <p class="top-block__byline">I am a cool guy.</p>
    </div>
</section>

<section class="portfolio-entries" style="background: none;">
    <div class="portfolio-entries__container">

    {% for entry in craft.entries.section('portfolio') %}

            <a href="{{ entry.url }}" class="portfolio-entries__project" style="
                    background-color:{{ entry.gradientColourA }};
                    background-image: linear-gradient(320deg {{ entry.gradientColourA }} {{ entry.gradientColourB }});">
                {% set image = entry.mainImage.first() %}
                {% if image %}
                <img src=" {{ image.url }}" class="portfolio-entries__image">
                {% endif %}

                <div class="portfolio-entries__bottom">
                    <h3 class="portfolio-entries__title">{{ entry.title }}</h3>
                    <p class="portfolio-entries__description">{% if entry.workCategories | length %}
                        {{ entry.workCategories | join(', ') }}
                        {% endif %}</p>
                </div>
            </a>


    {% endfor %}
    </div>

</section>

{% endblock %}




