.blog-entries__item {
  @include _(6 12 12);


}

.blog-entries__item,
.home-skills__blog {
    display: block;
    margin-bottom: $v-unit * 0.5;
    color: $body-text;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
      color: $body-text;
    }

}

.blog-entries {
  max-width: $max-width;
  @include _(clear);
  margin: 0 auto;
  padding-top: $v-unit * 0.5;
}

.blog-entry {
  @include _(clear);
  max-width: 800px;
  margin: 0 auto;
  padding-top: $v-unit;
  padding-bottom: $v-unit;

  @include _(mobile) {
    line-height: 1.45;
    font-size: 0.95em;

    li {
      margin-left: 1.15em;
    }
  }

  .blog {
    width: 100%;
    margin: 0 auto;
    @include _(12);
    font-size: 1.1em;
  }

  a {
    color: $main-purple;
    text-decoration: none;
    box-shadow: inset 0px -1px 0;
    line-height: 1;
    transition: box-shadow 250ms ease;

    &:hover {
      box-shadow: inset 0 0 0;
    }
  }


}