


.home-skills .interface-header {
  margin-bottom: $v-unit * 0.25;
}



.home-skills {
  padding-bottom: $v-unit * 1.5;
  @include _(clear);
  max-width: $max-width;
  margin: 0 auto;

}

.home-skills__listings,
.home-skills__blogs {
  @include _(6 12 12);
  padding: 2em;

}

.home-skills__listings {
  color: #dedee2;
  background: #17171b;
}

.home-skills__blogs {
  margin-top: $v-unit;
  @include _(from desktop to infinity) {
    margin-top: 0;
  }
}

.home-skills__heading {
  margin-bottom: 0;
  color: white;
}



.home-skills__blog-title {
  margin-bottom: 0;
  font-size: 1.65em;
}

.home-skills__blog-date {
  margin-bottom: 0;
  color: #b5b5b5;
}

.home-cta {
  text-align: center;
  padding-top: $v-unit;
  padding-bottom: $v-unit;
}

.home-cta__message {
  font-size: 1.3em;
}

.home-cta__button {
  margin-top: 0.5em;
  font-size: 1em;
}

.home-skills__skillset {

}

@keyframes featured-portfolio-project {
  0% {
    transform: translate3d(0,-10em,0);

  }


  100% {
    transform: translate3d(0,0,0);
  }
}

.portfolio-entries__project--in-view {
  animation: featured-portfolio-project 0.8s ease forwards;
}