main.portfolio {
  @include black-gradient;
  min-height: calc(100vh - 12em);
}

.portfolio-entry {
  max-width: $max-width;
  @include _(clear);
  margin:0 auto;
  padding-top: $v-unit * 0.5;
  @include _(from tablet to infinity) {
    padding-top: $v-unit * 1.5;
  }
}

.portfolio-entry__text {
  @include _(5);
}

.portfolio-entry__main-image {
  display: none;

  @include _(from tablet to infinity) {
    display: block;
    padding: 0;
    margin-top: 0;
    padding: 2em;
    background: red;
    margin-bottom: 0;
    @include _(6);
    float: right;
    img {
      width: 100%;
      display: block;
    }
  }
}


.portfolio-entry__gallery-image {
  @include _(6 12 12);
  margin-top: 0;
  margin-bottom: 5%;

  img {
    width: 100%;
    display: block;
  }
}

.portfolio-entry__gallery-image--big {
  @include _(12);
}

.portfolio-entry__main-text {
  @include _(6 12 12);
  text-align: left;


}

.portfolio-entry__description {
  color: $body-text;
}

.portfolio-entry__heading {
  margin-bottom: 0.25em;
}