$main-purple: rgb(124, 96, 203);
$light-grey: rgb(165, 165, 165);
$body-text: rgb(73, 82, 88);
$header-text: rgb(45, 52, 63);
$max-width: 1300px;
$v-unit: 4em;

$footer-height: 12em;

@mixin purple-gradient() {
  background-color: #3c3567;

  background-image: radial-gradient(ellipse at 0% bottom, rgba(124, 0, 213, 0.6) 0%, rgba(118, 72, 160, 0) 60%), radial-gradient(ellipse at 90% bottom, #4437a7 0%, rgba(82, 63, 140, 0) 80%);
}

@mixin black-gradient() {

  background: linear-gradient(195deg, #373a3f 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}