{% set title = entry.title  ~ ' | Thomas McCarthy' %}
{% set description = entry.metaDescription %}
{% extends "_layout" %}

{% block content %}

<section class="top-block top-block--short-width top-block--centered">
    <div class="top-block__inner">
        <h1 class="top-block__headline">{{ entry.title }}</h1>
        <p class="top-block__byline" style="clear:left;">{{ entry.summary }}</p>
    </div>
</section>

<section class="blog-entry">

    <article class="blog">
        {% for block in entry.blogMatrix %}

            {% switch block.type %}

            {% case "headingBlock" %}

            <h2 class="blog__heading">{{ block.heading }}</h2>

            {% case "textBlock" %}

            <div class="blog__body">{{ block.body }}</div>

            {% case "imageBlock" %}

            <figure class="blog__image">
                <img src="{{ block.image.first().url }}">
                {% if block.caption %}
                <figcaption class="blog__image-caption">{{ block.caption }}</figcaption>
                {% endif %}
            </figure>

            {% case "calloutBlock" %}

            <div class="blog__callout{{ (block.position == 'drop-right' ? ' blog_callout--right' : '') }}">{{ block.body }}</div>

            {% endswitch %}
        {% endfor %}
    </article>

    <div id="disqus_thread"></div>
    <script>
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
         */

         var disqus_config = function () {
         this.page.url = "{{ entry.url }}";  // Replace PAGE_URL with your page's canonical URL variable
         this.page.title = "{{ entry.title }}";
         this.page.identifier = "{{ entry.section }}-{{ entry.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
         };

        (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
            var d = document, s = d.createElement('script');

            s.src = '//tommcc.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</section>

{% endblock %}