{% set title = 'Blog | Thomas McCarthy' %}
{% set description = 'My latest blog posts on design, development and everything in between.' %}
{% extends "_layout" %}

{% block content %}

<section class="top-block top-block--no-bg">
    <div class="top-block__inner">
        <h1 class="top-block__headline">Latest Blog Posts</h1>
    </div>
</section>

<section class="blog-entries">
    {% for item in craft.entries.section('blog') %}

    <a class="blog-entries__item" href="{{ item.url }}">


        <h3 class="home-skills__blog-title">{{ item.title }}</h3>
        <div class="home-skills__blog-date">
            {{ item.postDate.format('F d, Y') }} <span class="slash">/</span> <span class="blog-entries__categories">
            {% if item.workCategories | length %}
                {{ item.workCategories | join(', ') }}
            {% endif %} </span>
        </div>

    </a>


    {% endfor %}
</section>

{% endblock %}