<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/main.css">

	<title>{% if title is defined %}{{ title }}{% else %}tomm.cc{% endif %}</title>
	<meta name="description" content="{% if description %}{{ description }}{% else %}I am a designer and front-end developer based in Brisbane, Australia.{% endif %}"/>


	<link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/31733690-44ca-4a65-9bda-fc264f54ad23.css"/>
</head>
<body>
	<header role="banner" class="main-header">


			<div class="container">
				<nav class="main-header__nav">

				<ul class="main-header__nav-list">
					<a href="{{ siteUrl}}">
					<li class="main-header__logo">

					</li>
						</a>

					<li class="main-header__nav-item">
						<a href="{{ siteUrl}}portfolio" class="main-header__nav-link">Portfolio</a>
					</li>
					<li class="main-header__nav-item">
						<a href="{{ siteUrl}}blog" class="main-header__nav-link">Blog</a>
					</li>
				</ul>
				<ul class="social-links main-header__social-links">
					<li class="social-links__linkedin"><a href="https://au.linkedin.com/in/thomas-mccarthy-27189442"></a></li>
					<li class="social-links__github"><a href="https://github.com/iamtommcc"></a></li>
					<li class="social-links__email"><a href="mailto:tom@tomm.cc"></a></li>
				</ul>
				</nav>

			</div>
	</header>

	<main>
		{% block content %}
		{% endblock %}
	</main>

	<footer class="main-footer">
		<div class="container">
		<div class="main-footer__cta">
			<p>Need my help for a development or design project?</p>
			<a href="mailto:tom@tomm.cc" class="button button--grey-hollow">Get In Touch</a>
		</div>
			<ul class="social-links main-footer__social-links">
				<li class="social-links__linkedin"><a href="#linkedin"></a></li>
				<li class="social-links__github"><a href="#github"></a></li>
				<li class="social-links__email"><a href="mailto:tom@tomm.cc"></a></li>
			</ul>
			</div>
	</footer>

<script src="/js/bundle.js"></script>

</body>
</html>