{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}


{% set title = entry.title %}
{% set description = entry.metaDescription %}
{% extends "_layout" %}

{% block content %}

<section class="top-block top-block--home top-block--short-width">
 <div class="top-block__inner">
 <h1 class="top-block__headline">It's the little things.</h1>
 <p class="top-block__byline">I’m a front-end developer and designer
  based in the glorious humidity of Brisbane, Australia.</p>


  <p class="top-block__byline">I currently help ideas grow over at <a href="https://dreamfarm.com" class="top-block__link">Dreamfarm</a> as Digital Manager.
   <div class="top-block__buttons">
   <a class="button button--grey">See My Work ›</a>
   <a class="button button--grey-hollow">Contact Me</a>
  </div></p>
 </p>
  </div>

 </div>
</section>

<div class="portfolio-entries portfolio-entries--home">
 <div class="portfolio-entries__container">
  {% for entry in entry.featuredProjects %}

  <a href="{{ entry.url }}" class="portfolio-entries__project"  style="
          background-color:{{ entry.gradientColourA }};
          background-image: linear-gradient(320deg, {{ entry.gradientColourA }}, {{ entry.gradientColourB }});">

    {% set image = entry.mainImage.first() %}
    {% if image %}
    <img src=" {{ image.url }}" class="portfolio-entries__image">
    {% endif %}

   <div class="portfolio-entries__bottom">
    <h3 class="portfolio-entries__title">{{ entry.title }}</h3>
    <p class="portfolio-entries__description">{% if entry.workCategories | length %}
     {{ entry.workCategories | join(', ') }}
     {% endif %}</p>
   </div>
  </a>


  {% endfor %}
 </div>

<section class="home-skills">
 <div class="home-skills__listings">
  <h2 class="interface-header">Skills</h2>

  <div class="home-skills__skillset">
   <h2 class="home-skills__heading">Front-end</h2>
   <p>HTML, CSS, JavaScript (ES6), SASS, React, jQuery, Susy, Flint.gs</p>
  </div>
  <div class="home-skills__skillset">
   <h2 class="home-skills__heading">Back-end</h2>
   <p>PHP, nginx, MySQL, Laravel, WordPress, WooCommerce, Craft CMS, Laravel</p>
  </div>
  <div class="home-skills__skillset">
   <h2 class="home-skills__heading">Tools & Software</h2>
   <p>Gulp, NPM, Adobe Creative Suite, Sublime Text, PHPStorm, Git, Ansible, Vagrant</p>
  </div>
  </div>

 <div class="home-skills__blogs">
  <h2 class="interface-header">Blog Posts</h2>

  {% for item in craft.entries.section('blog') %}

  <a class="home-skills__blog" href="{{ item.url }}">


   <h3 class="home-skills__blog-title">{{ item.title }}</h3>
   <div class="home-skills__blog-date">
    {{ item.postDate.format('F d, Y') }} <span class="slash">/</span> <span class="blog-entries__categories">
            {% if item.workCategories | length %}
                        {{ item.workCategories | join(', ') }}
                        {% endif %} </span>
   </div>

  </a>


  {% endfor %}
 </div>
</section>
{% endblock %}