.button {
  height: 48px;
  line-height: 48px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 1em;
  background: linear-gradient(#9244ff, #4b38b1);
  color: white;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.button--grey {
  background: linear-gradient(#ffffff, #e9e9e9);
  border: 0;
  color: #662cb8;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}