.button {
  padding: 0.3em 1.4em;
  height: auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  font-weight: 500;
  border: 0;
  border-radius: 0;
}

.button--grey {
  background: white;
  border: 0;
  color: $main-purple;

  &:hover {
    opacity: 0.8;
    color: $main-purple;
  }
}

.button--grey-hollow {
  color: white;
  box-shadow: inset 0 0 0 2px white;

  &:hover {
    color: white;
    opacity: 0.8;
  }
}