.main-header__nav-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-top: 0.75em;
  widtH: 100%;
  @include _(from tablet to infinity) {

    margin-top: $v-unit * 0.5;
    text-align: right;
  }
}

.main-header__nav-item {
  display: inline-block;
  @include _(from tablet to infinity) {
    display: block;
    float: left;

  }


}

.main-header__nav-link {
  opacity: 0.8;
  color: white;

  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 10px;
  @include _(from tablet to infinity) {
    margin-right: 2em;

  }

  &:hover {
    color: white;
    opacity: 1;
  }
}